html {
    background-color: #252229;
}

    html body {
        /*color: #F1F2F3;*/
    }

body {
    height: auto;
    font-family: 'Arapey',;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin: -20px;
    position: absolute;
    display: block;
}

#profileImage {
    width: 10%;
    height: auto;
    padding: 2px;
}

#createProfileContainer, #loginContainer {
    padding: 10px;
    justify-content: center;
    display: flex;
}
