@import url('https://fonts.googleapis.com/css?family=Arapey&display=swap');

html {
    background-color: #252229;
}

    html body {
        /*color: #F1F2F3;*/
    }

body {
    height: auto;
    padding: 10px;
    font-family: 'Arapey',;
}

footer {
    background-color: black;
    color: white;
}

#profileImage {
    width: 50%;
    padding: 2px;
}
