@using Troiamis.ModelsCombined
@model Post

@{
    ViewData["Title"] = "NewPost";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Make A New Post</h1>
    </div>
    <div>
        <form method="post">
            <p>
                <label asp-for="postTitle">Title:</label>
                <input asp-for="postTitle" />
                <span asp-validation-for="postTitle"></span>
            </p>
            <p>
                <label asp-for="postContent">Content:</label>
                <input asp-for="postContent" />
                <span asp-validation-for="postContent"></span>
            </p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</body>
</html>

